<ion-content>
  <ion-item>
    <ion-label>
      <p class="quiz-search">作成するクイズの作品・シリーズ・著者を選ぶ</p>
      <ion-searchbar
        class="searchbar"
        color="favorite"
        mode="ios"
        enterkeyhint="search"
        placeholder="検索"
        inputmode="search"
        (ionChange)="searchBooks($event)"
      ></ion-searchbar>
      <p>検索結果</p>
    </ion-label>
  </ion-item>
  <app-list-item
    *ngFor="let book of searchedBooks$ | async"
    [book]="book"
    [isSearch]="true"
    [is4Quiz]="true"
    (clickedButton)="onMake('1')"
  ></app-list-item>
  <!--<ion-item>
    <ion-thumbnail slot="start">
      <img src="../../../../resources/act.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>メイドインアビス1巻</h2>
      <div class="quizmaker">
        <p>著　つくしあきひと</p>
      </div>
    </ion-label>
    <ion-button button (click) ="onMake('1')" class="challengebutton" color="danger" size="default" fill="outline">+作成する</ion-button>
  </ion-item>-->
</ion-content>
