<ion-content>
  <ion-item class="create-search-header" lines="none">
    <ion-label>
      <p class="quiz-search">作成するクイズの作品を選ぶ</p>
      <ion-searchbar
        class="searchbar"
        color="favorite"
        mode="ios"
        enterkeyhint="search"
        placeholder="検索"
        inputmode="search"
        (ionChange)="searchBooks($event)"
      ></ion-searchbar>
      <p>検索結果</p>
    </ion-label>
  </ion-item>
  <app-list-item
    *ngFor="let book of searchedBooks$ | async"
    [book]="book"
    [isSearch]="true"
    [is4Quiz]="true"
    (clickedButton)="onMake('1')"
  ></app-list-item>
</ion-content>
