:root {
  --ion-color-favorite: #B89B80;
  --ion-color-favorite-rgb: 184,155,128;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255,255,255;
  --ion-color-favorite-shade: #8d7258;
  --ion-color-favorite-tint: #c9a98b;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}
p {
  margin: 4px;
}
.question-info {
  margin: 32px 0 16px;
}
.text {
  margin-top: 40px;
}

.quizmaker{
  margin-left: 10px;
}
.block{
  display:block;
  margin: 4rem;
}
.choice {
  font-size: 1.8rem;
}
.bottom-right{
  position: absolute;
  bottom : 0;
  right : 0;
}
.bottom-right{
  position: absolute;
  bottom : 24px;
  right : 24px;
  font-size: 2.2rem;
}
.answer-text {
  font-size: 1.8rem;
  color: #A260BF;
  margin-bottom: 40px;
  &.correct{
    color: #00D382;
  }
}
.your-choice {
  margin-top: 16px;
  font-size: 1.8rem;
}

#seitousu{
  text-align: center;
  color: #A260BF;
  font-size: 3.2rem;
}

.box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:auto;
  padding:10px
}

.box-item{
  text-align: center;
}

#quizdetail{
  padding-left: 10px;

  #title{
    padding: 5px 0px;
  }
}

.right{
  float: right;
  margin-left: 10px;
}

.margin-top{
  margin-top: 10px;
}

.center{
  text-align: center;
}

.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}

.evaluation label:hover,
label:hover ~ label,
.evaluation label.checked,
ion-icon.comment-icon[name="star"],
ion-icon.comment-icon[name="star-outline"] {
  color: #ffcc00;
}
.comment {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-bottom: 1px solid #dddad1;
}
.comments-wrapper-header {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid #dddad1;
  padding: 8px 0;
}
