<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="irregularDismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="!isOnlyComments; else OnlyComments">
  <ion-content padding *ngIf="displayedQuestionIndex >= 0">
    <h3>{{ quiz.title }}</h3>
    <p>本: {{ quiz.book.author }}著</p>
    <p>作成者: {{ quiz.maker }}</p>
    <h4 class="question-info">{{ displayedQuestionIndex + 1 }}問目 / 全{{ quiz.questions.length }}問</h4>

    <h2 class="text">{{ quiz.questions[displayedQuestionIndex].text }}</h2>
    <ion-button
      button
      (click)="selectedAnswer(0)"
      [fill]="answers[displayedQuestionIndex] === 0 ? 'solid' : 'outline'"
      class="block choice"
    >{{ quiz.questions[displayedQuestionIndex].choices[0] }}</ion-button>
    <ion-button
      button
      (click)="selectedAnswer(1)"
      [fill]="answers[displayedQuestionIndex] === 1 ? 'solid' : 'outline'"
      class="block choice"
    >{{ quiz.questions[displayedQuestionIndex].choices[1] }}</ion-button>
    <ion-button
      button
      (click)="selectedAnswer(2)"
      [fill]="answers[displayedQuestionIndex] === 2 ? 'solid' : 'outline'"
      class="block choice"
    >{{ quiz.questions[displayedQuestionIndex].choices[2] }}</ion-button>

    <ion-button class="bottom-right" fill="clear" button (click)="nextQuestionOrFinish()">
      {{ (displayedQuestionIndex + 1) === quiz.questions.length ? '結果を見る' : '次の問題へ' }}
    </ion-button>
  </ion-content>

  <ion-content padding *ngIf="displayedQuestionIndex === -1">
    <h3>{{ quiz.title }}</h3>
    <p>本: {{ quiz.book.author }}著</p>
    <p>作成者: {{ quiz.maker }}</p>
    <h4>全{{ quiz.questions.length }}問</h4>
    <div class="answer" *ngFor="let question of quiz.questions; let i = index">
      <h3>{{ i + 1 }}. {{ question.text }}</h3>
      <p class="your-choice">あなたの答え: {{ question.choices[answers[i]] }}</p>
      <p
        class="answer-text"
        [class.correct]="question.correct === answers[i]"
      >正解: {{ question.choices[question.correct] }}</p>
    </div>
    <ion-button class="bottom-right" fill="clear" button (click)="finishedReview()">レビュー</ion-button>
  </ion-content>

  <ion-content padding *ngIf="displayedQuestionIndex === -2">
    <h3>{{ quiz.title }}</h3>
    <app-list-item
      [book]="quiz.book"
      [hasNotButtons]="true"
    ></app-list-item>

    <h1 class="ion-text-uppercase" id="seitousu"><b>{{ matchedChoices() }}問正解！</b></h1>
    <div class="box">
      <p class="box-item">このクイズの評価をお願いします</p>
      <div class="box-item">
        <div class="evaluation">
          <label
            *ngFor="let star of [5, 4, 3, 2, 1]"
            [class.first-star]="star === 1"
            [class.checked]="newComment.star >= star"
          >
            <ion-icon
              name="star"
              (click)="changedStar(star)"
            ></ion-icon>
          </label>
        </div>
        <p>コメント</p>
        <input [(ngModel)]="newComment.maker" type="text" placeholder="名前" size="20" maxlength="15">
        <br>
        <textarea [(ngModel)]="newComment.content" placeholder="コメント" rows="10" cols="50"></textarea>
        <br>
        <ion-button button [disabled]="newComment.star === 0" (click)="addComment()" fill="outline" size="default" mode="ios">レビューする</ion-button>
        <br>
        <ion-button button (click)="dismiss()" color="medium" fill="outline" size="small" mode="ios">レビューせずに閉じる</ion-button>
      </div>
    </div>
  </ion-content>
</ng-container>

<ng-template #OnlyComments>
  <ion-content padding>
    <div id="quizdetail">
      <h3 class="ion-text-uppercase" id="title">{{ quiz.title }}</h3>
      <div>本: {{ quiz.book.title }} 著: {{ quiz.book.author }}</div>
      <div>作成者: {{ quiz.maker }}</div>
      <div>全{{ quiz.questions.length }}問</div>
    </div>
    <div class="comments-wrapper-header">
      <div>
        <ion-icon name="chatbubbles" mode="ios"></ion-icon>
        このクイズのコメント
      </div>
    </div>
    <div class="comment" *ngFor="let comment of quiz.comments">
      <div>{{comment.maker}}</div>
      <div>
        <ion-icon *ngFor="let i of convert2ArrayFromNumber(comment.star)" class="comment-icon" name="star"></ion-icon>
        <ion-icon *ngFor="let i of convert2ArrayFromNumber(5 - comment.star)" class="comment-icon" name="star-outline"></ion-icon>
      </div>
      <div>{{ comment.content }}</div>
    </div>
  </ion-content>
</ng-template>
