<ion-header>
  <ion-toolbar>
    <ion-title>
      設定
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- List of Input Items -->
<ion-list>
<div class="contents">
  <h1>　コンテンツ設定</h1>
  <ion-item class="recomend">
    <ion-label>おすすめの本表示</ion-label>
    <ion-label class="onOff">{{ recBook ? 'ON' : 'OFF' }}</ion-label>
    <ion-toggle slot="end" [(ngModel)]="recBook"></ion-toggle>
  </ion-item>
</div>
<div class="remind">
  <h1>　通知設定</h1>
  <ion-item class="notread">
    <ion-label>しばらく読んでいない本の通知</ion-label>
    <ion-label class="onOff">{{ nRead ? 'ON' : 'OFF' }}</ion-label>
    <ion-toggle slot="end" [(ngModel)]="nRead"></ion-toggle>
  </ion-item>
  <ion-item class="close">
    <ion-label>しばらくアプリを起動していない通知</ion-label>
    <ion-label class="onOff">{{ start ? 'ON' : 'OFF' }}</ion-label>
    <ion-toggle slot="end" [(ngModel)]="start"></ion-toggle>
  </ion-item>
</div>
</ion-list>
</ion-content>
