ion-title {
    color: #222222;
}
h1 {
    font-size: 23px;
    color: #666666;
}
ion-item {
    font-size: 15px;
}
ion-label {
    color: #666666;;
}
.contents {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.onOff {
    text-align: right;
}
