ion-title {
    color: #222222;
}
ion-list{
    --background:#FFFAF0;
}
div {
  font-size: 2.4rem;
  color: #666666;
  background:#FFFAF0;
  .title {
    font-size: 2.8rem;
    padding: 4px 0 4px 12px;
  }
}
ion-item {
    font-size: 2.0rem;
    --background:#FFFAF0;
}
ion-label {
    color: #666666;
}
.contents {
    padding-bottom: 8rem;
}

.onOff {
    text-align: right;
}

