<ion-header>
  <ion-toolbar>
    <ion-title>
      設定
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- List of Text Items 
<ion-list>
  <ion-item>
    <ion-label>おすすめの本表示</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>しばらく読んでいない本の通知</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>しばらくアプリを起動していない通知</ion-label>
  </ion-item>
  </ion-list>
-->
<ion-content>
<!-- List of Input Items -->
<ion-list>
<div class = "contents">
  <h1>　コンテンツ設定</h1>
  <ion-item class = "recomend">
    <ion-label><p>おすすめの本表示</p></ion-label>
    <ion-label class = "On">ON</ion-label>
    <ion-label class = "Off">OFF</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
</div>
<div class = "remind">
  <h1>　通知設定</h1>
  <ion-item class = "notread">
    <ion-label><p>しばらく読んでいない本の通知</p></ion-label>
    <ion-label class = "On">ON</ion-label>
    <ion-label class = "Off">OFF</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item class = "close">
    <ion-label><p>しばらくアプリを起動していない通知</p></ion-label>
    <ion-label class = "On">ON</ion-label>
    <ion-label class = "Off">OFF</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
</div>
</ion-list>
</ion-content>

<!-- List of Sliding Items 
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
-->