<ion-content>
  <ion-item lines="none">
    <ion-label>
      <p class="quiz-search">クイズを探す</p>
      <ion-searchbar
        class="searchbar"
        color="favorite"
        mode="ios"
        enterkeyhint="search"
        showCancelButton="never"
        placeholder="入力してください"
        inputmode="search"
        [(ngModel)]="value"
        (ionChange)="searchQuizzes($event)">
      </ion-searchbar>
      <p>検索結果</p>
    </ion-label>
  </ion-item>
  <ng-container *ngIf="searchedQuizzes$ | async as quizzes">
    <ng-container *ngIf="quizzes.length; else Empty">
      <app-list-item
        *ngFor="let quiz of quizzes"
        [quiz]="quiz"
        (clickedButton)="clickedButtons($event)"
      ></app-list-item>
    </ng-container>
    <ng-template #Empty>
      <app-empty-state>
        クイズが見つかりません
      </app-empty-state>
    </ng-template>
  </ng-container>
</ion-content>
