<ion-header>
  <ion-toolbar>
    <ion-title>
      本をさがす
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="search-message">
      <ion-icon name="search" class="search-icon"></ion-icon>
      作者・著者・ISBN<br>で本を探す
    </div>
    <ion-searchbar [(ngModel)]="q" class="searchbar" mode="ios" enterkeyhint="search" placeholder="アクタージュ" inputmode="search"></ion-searchbar>
    <ion-buttons class="search-button-wrapper">
      <ion-button class="search-button" (click)="search()">さがす</ion-button>
    </ion-buttons>
  </div>
</ion-content>
