<ion-header>
  <ion-toolbar>
    <ion-title>
      analytics
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button button (click)="onSelectTab('top')">
        <b>トップ</b>
      </ion-segment-button>
      <ion-segment-button button (click)="onSelectTab('challenge')">
        <b>チャレンジ</b>
      </ion-segment-button>
      <ion-segment-button button (click)="onSelectTab('make')">
        <b>作成</b>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="selectedtab == 'top'">
  <ion-item id="label">
    <ion-label>
      人気のクイズ
    </ion-label>
  </ion-item>
 <ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../../../../resources/act.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>アクタージュのクイズ</h2>
      <div class="quizmaker">
        <p>著　マツキタクヤ</p>
        <p class="ion-text-lowercase">apple　さん</p>
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
      </div>
    </ion-label>
    <ion-button color="danger" size="large" fill="outline">挑戦する</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../../../../resources/act.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>永遠の0のクイズ</h2>
      <div class="quizmaker">
        <p>著　百田尚樹</p>
        <p class="ion-text-lowercase">あいうえお　さん</p>
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
      </div>
    </ion-label>
    <ion-button color="danger" size="large" fill="outline">挑戦する</ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../../../../resources/act.jpg">
    </ion-thumbnail>
    <ion-label>
      <h2>メイドインアビスのクイズ</h2>
      <div class="quizmaker">
        <p>著　つくしあきひと</p>
        <p class="ion-text-lowercase">さとし　さん</p>
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
      </div>
    </ion-label>
    <ion-button color="danger" size="large" fill="outline">挑戦する</ion-button>
  </ion-item>
 </ion-list>
</ion-content>


<ion-content *ngIf="selectedtab == 'challenge'">
  <ion-item>
    <ion-label>
        <p id="quizsearch">クイズを探す</p>
        <ion-searchbar class="searchbar" color="favorite" mode="ios" enterkeyhint="search" placeholder="検索" inputmode="search"></ion-searchbar>
        <p>検索結果</p>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../resources/act.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>アクタージュのクイズ</h2>
        <div class="quizmaker">
          <p>著　マツキタクヤ</p>
          <p class="ion-text-lowercase">apple　さん</p>
          <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
        </div>
      </ion-label>
      <ion-icon name="chatbubbles" float-right></ion-icon>
      <ion-button class="challengebutton" color="danger" size="default" fill="outline">挑戦する</ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../resources/act.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>永遠の0のクイズ</h2>
        <div class="quizmaker">
          <p>著　百田尚樹</p>
          <p class="ion-text-lowercase">あいうえお　さん</p>
          <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
        </div>
      </ion-label>
      <ion-button class="challengebutton" color="danger" size="default" fill="outline">挑戦する</ion-button>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../../resources/act.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>メイドインアビスのクイズ</h2>
        <div class="quizmaker">
          <p>著　つくしあきひと</p>
          <p class="ion-text-lowercase">さとし　さん</p>
          <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
        </div>
      </ion-label>
      <ion-button class="challengebutton" color="danger" size="default" fill="outline">挑戦する</ion-button>
    </ion-item>
   </ion-list>
</ion-content>

<ion-content *ngIf="selectedtab == 'make'">
  make
</ion-content>
