<ion-header>
  <ion-toolbar>
    <ion-title>
      クイズ
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="ios" value="top" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="top">
        <b>トップ</b>
      </ion-segment-button>
      <ion-segment-button value="challenge">
        <b>チャレンジ</b>
      </ion-segment-button>
      <ion-segment-button value="create">
        <b>作成</b>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-quiz-top *ngIf="segment === 'top'"></app-quiz-top>
  <app-quiz-search *ngIf="segment === 'challenge'"></app-quiz-search>
  <app-quiz-create-search *ngIf="segment === 'create'"></app-quiz-create-search>
</ion-content>
