<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="quiz">
      <ion-icon name="chatbubbles" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="analytics" mode="ios"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" mode="ios"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
