<ion-item tappable (click)="click()" class="list-item" lines="full">
  <ion-thumbnail class="thumbnail">
    <img [src]="book.mediumImageUrl">
  </ion-thumbnail>
  <div class="text-wrapper">
    <div class="title">
      {{ book.title }}
    </div>
    <div class="author">
      {{ book.author }}
    </div>
  </div>
  <ion-buttons *ngIf="!isSearch" class="buttons">
    <ion-button size="small" fill="solid" shape="round">クイズにチャレンジ</ion-button>
    <ion-button size="small" fill="solid" shape="round">クイズを作成</ion-button>
  </ion-buttons>
</ion-item>
