.report{
    margin: auto;
}
#shyoji{
    color: #a9ceec;
}
#mishyoji{
    color: #80FF80;
}
h3{
    color: #666666;
    margin:20px
}
canvas{
    max-width: 450px;
    max-height: 450px;
    margin:0 auto;
}
.hidden {
  display: none;
}
ion-segment{
    background-color: #F8F8FF;
}

