<ion-header>
  <ion-toolbar>
    <ion-title>
      analytics
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button button (click)="onSelectTab('author')">
        <b>著者</b>
      </ion-segment-button>
      <ion-segment-button button (click)="onSelectTab('series')">
        <b>シリーズ</b>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedtab == 'author'">
  <ion-list>
    <ion-item button (click)="onSelectList(true)">
      <ion-label>マツキタクヤ</ion-label>
    </ion-item>
    <ion-item button="true">
      <ion-label>有川浩</ion-label>
    </ion-item>
    <ion-item button="true">
      <ion-label>伊坂幸太郎</ion-label>
    </ion-item>
  </ion-list>
  <div class="report" *ngIf="selected">
    <h4>マツキタクヤ</h4>
    <h3 id="syoji">所持</h3>
    <p>読書済み　　13%</p>
    <p>積読　　　　48%</p>
    <h3 id="misyoji">未所持</h3>
    <p>未所持　　　39%</p>
  </div>
</ion-content>

<ion-content *ngIf="selectedtab == 'series'">
  <h3>メイドインアビス</h3>
</ion-content>

<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="sampleData"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut"
  [gradient]="gradient">
</ngx-charts-pie-chart>