<ion-header>
  <ion-toolbar>
    <ion-title>
      レポート
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="author$ | async as authors">
    <ng-container *ngIf="authors.length; else Empty">
      <ion-list>
        <ion-item *ngFor="let author of authors" [button]="true" (click)="onChangePage()">
          <ion-label>{{author}}</ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-template #Empty>
      <app-empty-state>
        本棚に登録している本がありません
      </app-empty-state>
    </ng-template>
  </ng-container>
</ion-content>
